<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
                #bgform{
                    background: linear-gradient(180deg, #212437 0%, rgba(255, 255, 255, 0) 100%), #254B94;
                    padding:0%;
                    margin:0%;
                    align-items: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                
                }
                
                #kotakputih{
                    height: 100vh;
                    width: 42rem;
                    background: #FFFFFF;
                    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                </style>
</head>
<body>


        <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
                <div class="container-fluid">
            
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                        <span class="navbar-toggler-icon"></span>
                    </button>
            
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
            
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'tambah' %}">Tambah Jadwal</a>
                            </li>
            
        
                            <li class="nav-item">
                                    <a class="nav-link" href="{% url 'tampil' %}">Lihat Jadwal</a>
                            </li>
        
                        </ul>
                        
                    </div>
                </div>
            </nav>

        <div class='container-fluid' id='bgform'>
                <div  id='kotakputih'>
                        <form method="POST" action="/tampil/">
                            {% csrf_token %}
                            <table>
                                {{formulir.as_table}}
                                
                            </table>
                            <input type="submit" value="Add">
                        </form>                    
            
                </div>
            </div>
    
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        
</body>
</html>