<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
            #bgform{
                background: linear-gradient(180deg, #212437 0%, rgba(255, 255, 255, 0) 100%), #254B94;
                align-items: center;
                /* height: 100vh; */
                margin: 0%;
                padding: 2%;
            }
            
            #kotakjadwal{
                height: 15 rem;
                width: 7 rem;
                margin: 3%;
                padding: 1%;
                background: #FFFFFF;
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
            }
            
            #namakegiatan{
                color: #000080;
                font-weight: bold;
            }
            </style>
</head>
<body>


        <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
                <div class="container-fluid">
            
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                        <span class="navbar-toggler-icon"></span>
                    </button>
            
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
            
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'tambah' %}">Tambah Jadwal</a>
                            </li>
        
        
                            <li class="nav-item">
                                    <a class="nav-link" href="{% url 'tampil' %}">Lihat Jadwal</a>
                            </li>
        
                        </ul>
                        
                    </div>
                </div>
            </nav>


        <div class='container-fluid row' id='bgform'>
                {% for x in sebelum %}
                    <div class='col-5' id='kotakjadwal'>
                        <h2 id="namakegiatan">{{x.simpannama}}</h2>
                        <h3>{{x.simpandate}}  {{x.simpanmonth}}  {{x.simpanyear}}</h3>
                        <h3>Waktu      : {{x.simpantime}}</h3>
                        <h3>Tempat      : {{x.simpantempat}}</h3>
                        <h3>Kegiatan    : {{x.simpankategori}}</h3>
                        <form action="/deletejadwal/{{ x.id }}/" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>
                    </div>
                {% endfor %}
            </div>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</body>
</html>